.close-menu {
	position: absolute;
	margin: 0;
	padding: 0;
	display: none;
	width: 26px;
	height: 26px;
	border: none;
	background: none;
}

.close-menu span {
	position: absolute;
	top: 50%;
	left: 0;
	transform: rotate(45deg) translateY(-20%);
	display: block;
	width: 30px;
	height: 6px;
	background: #fff;
}

.close-menu span:last-child {
	transform: rotate(-45deg);
}
