.intro {
	padding: 100px 0 90px;
	margin: 0 auto;
	background: $white;
	@media screen and (max-width: $xl) {
		padding: 52px 0 56px;
	}
}
.intro__content {
		margin: 0 auto;
		max-width: 590px;
		font-size: 18px;
		line-height: 30px;
		text-align: center;
		@media screen and (max-width: $xl) {
			max-width: 250px;
			font-size: 14px;
		}
		&--big {
			max-width: 764px;
			@media screen and (max-width: $xl) {
				max-width: 500px;
			}
			@media screen and (max-width: $md) {
				max-width: 280px;
			}
		}
}
.intro--hide-mobile {
	@media screen and (max-width: $md) {
		display: none;
	}
}
