.nav-list {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: $xl) {
	.nav-list {
		display: none;
	}
}

.nav-list__item {
	margin-right: 82px;
}

.nav-list__item:last-child {
	margin-right: 0;
}

@media screen and (max-width: $xl) {
	.nav-list--show {
		position: absolute;
		top: 109px;
		left: 0;
		display: block;
		width: 100%;
	}
}

@media screen and (max-width: $xl) {
	.nav-list--show .nav-list__item {
		display: block;
		margin-right: 0;
		height: 63px;
		line-height: 63px;
		text-align: center;
		text-transform: uppercase;
		background: $main-color;
		box-shadow: 0 1px 0 #000, inset 0 1px 0 rgba(255,255,255,0.15);
	}
}

@media screen and (max-width: $xl) and (max-width: $md) {
	.nav-list--show {
		top: 66px;
	}
}

.nav-list__link {
	text-decoration: none;
	color: #fff;
}
