.page-header {
	position: relative;
	min-height: 854px;
	background: url("../i/page-header-bg.jpg") no-repeat center;
	@media screen and (max-width: $md) {
		margin-bottom: 272px;
	}
}

@media screen and (max-width: $xl) {
	.page-header {
		min-height: 729px;
	}
}

@media screen and (max-width: $md) {
	.page-header {
		min-height: 472px;
	}
}

.page-header__center {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.page-header__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 231px;
	left: 130px;
	width: 326px;
	height: 524px;
	color: #fff;
	z-index: 80;
}

@media screen and (max-width: $xl) {
	.page-header__content {
		height: 404px;
		left: 14px;
		z-index: 3;
	}
}

@media screen and (max-width: $md) {
	.page-header__content {
		top: 472px;
		left: 0;
		padding: 28px 0;
		width: 321px;
		height: 272px;
		background: $dark-blue;
	}
}

.page-header__title {
	width: 236px;
	font-size: 50px;
	font-weight: 300;
	line-height: 1.2;
	text-align: center;
	&.page-header__title--photo {
		width: 400px;
	}
}

@media screen and (max-width: $xl) {
	.page-header__title {
		font-size: 40px;
	}
}

@media screen and (max-width: $md) {
	.page-header__title {
		display: none;
	}
}

.page-header__button {
	width: 300px;
	height: 56px;
	font-size: 21px;
	font-weight: bold;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 30px;
	background: none;
	transition: all .4s ease;
	cursor: pointer;

	&:hover {
		color: $accent-color;
		background: $white;
	}

	&:active {
		color: $vanila-ice;
		background: $white;
	}
}

@media screen and (max-width: $md) {
	.page-header__button {
		width: 284px;
	}
}

.page-header__logos {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.page-header__logos img {
	margin-right: 34px;
}

.page-header__logos img:last-child {
	margin-right: 0;
}

.page-header__text {
	text-align: center;
}

@media screen and (max-width: $md) {
	.page-header__text {
		width: 238px;
		font-size: 14px;
	}
}

.page-header__image {
	position: absolute;
	bottom: 435px;
	right: 90px;
	width: 644px;
	height: 210px;
}

@media screen and (max-width: $xl) {
	.page-header__image {
		bottom: -7px;
		right: 18px;
		width: 475px;
		height: 544px;
		z-index: 1;
	}
}

@media screen and (max-width: $md) {
	.page-header__image {
		bottom: 3px;
		width: 256px;
		height: 286px;
	}
}
.page-header--photo {
	&.page-header--photo {
		min-height: 394px;
		background-position: center top;
		@media screen and (max-width: $md) {
			margin-bottom: 0;
			min-height: 238px;
		}
	}
	.page-header__content {
		top: 60%;
		left: 50%;
		transform: translate(-50%,-50%);
		height: auto;
	}
	.page-header__title {
		width: 400px;
	}
}
