.socials {
	display: flex;
	justify-content: space-between;
}
.socials__item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 12px;
	width: 45px;
	height: 45px;
	border: 3px solid $giensboro;
	border-radius: 50%;
	cursor: pointer;
	&:last-child {
		margin-right: 0;
	}
}
