.clock.offer__clock
	.container
		.clock__box
			.clock__img
				img(src="assets/i/clock.svg" alt="clock")
				span.clock__text-image 24

			.clock__content
				.clock__title Эффект на 24 часа!
				.clock__text Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
				a.clock__link(href="#") Узнать больше об исследовании

