.footer
	.container
		.footer__content
			.logo.footer__logo
				img(src="assets/i/logo-footer-desktop.svg", alt="logo")
			.socials.footer__socials
				.socials__item
					a(href="#")
						img(src="assets/i/twitter.svg", alt="twitter")
				.socials__item
					a(href="#")
						img(src="assets/i/facebook.svg", alt="facebook")
				.socials__item
					a(href="#")
						img(src="assets/i/youtube.svg", alt="youtube")
			.developer.footer__developer
				span Разработано
				img(src="assets/i/htmlacademy.svg", alt="htmlacademy")
