.gallery
	.gallery__item
		.gallery__img
			picture
				source(media="(min-width: 660px)", srcset="assets/i/gallery-1.jpg")
				img(src="assets/i/gallery-mobile-1.jpg", alt="gallery")
		.comment.gallery__comment
			.comment__data
				span.comment__name Левон
				span.comment__time (5 часов назад)
			.comment__like.gallery__comment-like
				span.comment__number нравится: 356
				img(src="assets/i/panorama-icon.svg" alt="icon").comment__icon
			.comment__text.gallery__comment-text Вчера он на луну летал, сегодня в руки к нам попал.

	.gallery__item
		.gallery__img
			picture
				source(media="(min-width: 660px)", srcset="assets/i/gallery-2.jpg")
				img(src="assets/i/gallery-mobile-2.jpg", alt="gallery")
		.comment.gallery__comment
			.comment__data
				span.comment__name Антон
				span.comment__time (12 часов назад)
			.comment__like.gallery__comment-like
				span.comment__number нравится: 666
				img(src="assets/i/panorama-icon.svg" alt="icon").comment__icon
			.comment__text.gallery__comment-text Соседи будут рады!

	.gallery__item
		.gallery__img
			picture
				source(media="(min-width: 660px)", srcset="assets/i/gallery-3.jpg")
				img(src="assets/i/gallery-mobile-3.jpg", alt="gallery")
		.comment.gallery__comment
			.comment__data
				span.comment__name Борис
				span.comment__time (20 часов назад)
			.comment__like.gallery__comment-like
				span.comment__number нравится: 215
				img(src="assets/i/panorama-icon.svg" alt="icon").comment__icon
			.comment__text.gallery__comment-text Здесь могла быть ваша цитата о высоком и вечном.


	.gallery__item
		.gallery__img
			picture
				source(media="(min-width: 660px)", srcset="assets/i/gallery-4.jpg")
				img(src="assets/i/gallery-mobile-4.jpg", alt="gallery")
		.comment
			.comment__data
				span.comment__name Сергей
				span.comment__time (25 часов назад)
			.comment__like.gallery__comment-like
				span.comment__number нравится: 4
				img(src="assets/i/panorama-icon.svg" alt="icon").comment__icon
			.comment__text.gallery__comment-text Самая кубанская в мире!

	.gallery__item
		.gallery__img
			picture
				source(media="(min-width: 660px)", srcset="assets/i/gallery-5.jpg")
				img(src="assets/i/gallery-mobile-5.jpg", alt="gallery")
		.comment.gallery__comment
			.comment__data
				span.comment__name Максим
				span.comment__time (40 часов назад)
			.comment__like.gallery__comment-like
				span.comment__number нравится: 150
				img(src="assets/i/panorama-icon.svg" alt="icon").comment__icon
			.comment__text.gallery__comment-text Где снег-то?

	.gallery__item
		.gallery__img
			picture
				source(media="(min-width: 660px)", srcset="assets/i/gallery-6.jpg")
				img(src="assets/i/gallery-mobile-6.jpg", alt="gallery")
		.comment.gallery__comment
			.comment__data
				span.comment__name Надежда
				span.comment__time (45 часов назад)
			.comment__like.gallery__comment-like
				span.comment__number нравится: 2560
				img(src="assets/i/panorama-icon.svg" alt="icon").comment__icon
			.comment__text.gallery__comment-text Всем GM и взаимные лайки!
