.offer
	header.offer__header.section-header
		h2.sectoin-header__title Устали от серости мегаполиса?
		h2.sectoin-header__title.sectoin-header__title--short Нам есть, что вам предложить!

	.offer__content
		.offer__item
			.offer__img
				img(src="assets/i/offer-img.png" alt="offer")
			h3.offer__title Поднимает настроение
			p.offer__text Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!

		.offer__item
			.offer__img
				img(src="assets/i/offer-img.png" alt="offer")
			h3.offer__title Меняет мир вокруг
			p.offer__text Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект

		.offer__item
			.offer__img
				img(src="assets/i/offer-img.png" alt="offer")
			h3.offer__title Заводит новых друзей
			p.offer__text Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых


