.packages
	.container
		.packages-table-container.table__containers.table#js-table
			table.table__item.table__names
				thead
					th.table__item--no-bg
				tbody
					tr
						td Розовый фильтр
					tr
						td Смайлики
					tr
						td Комментарии

			table.table__item.table__packages
				thead
					tr
						th
							h3.table__title База
							p.table__price 1,99 usd
				tbody
					tr
						td
							.table__icon--present
					tr
						td
							.table__icon--missing
					tr
						td
							.table__icon--missing

			table.table__item.table__packages
				thead
					tr
						th.table__th--new
							h3.table__title Стандарт
							p.table__price 3,99 usd
				tbody
					tr
						td
							.table__icon--present
					tr
						td
							.table__icon--present
					tr
						td
							.table__icon--missing

			table.table__item.table__packages
				thead
					tr
						th
							h3.table__title Анлим
							p.table__price 9,99 usd
				tbody
					tr
						td
							.table__icon--present
					tr
						td
							.table__icon--present
					tr
						td
							.table__icon--present
