.questions
	header.offer__header.section-header.questions__header-section
		h2.sectoin-header__title Остались вопросы?
		h2.sectoin-header__title.sectoin-header__title--short Свяжитесь с нами!

	.container
		.questions__content
			.questions__item
				h4.questions__title Звоните:
				a(href="mailto:+7(812)555-66-66").questions__link +7 (812) 555-66-66
			.questions__item.question__item--short
				h4.questions__title Приезжайте в гости:
				.questions__text ул. Большая Конюшенная, 19/8
			.questions__item
				h4.questions__title Пишите:
				a(href="mail@htmlacademy.ru").questions__text mail@htmlacademy.ru
