.redactor
	.redactor__img
		img(src="assets/i/redactor.jpg", alt="redactor")
	.redactor__content
		.redactor__tools
			.redactor__tabs
				.redactor__tabs-button
					.redactro__tabs-button-item
						svg.redactor__crop-icon
							use(xlink:href="#crop")
				.redactor__tabs-content
					.redactors__tabs-content-item
						.redactors__line
						.redactor__circle


		.redactor__buttons
			button.button-round.button-round--accent Запостить
			button.button-round.button-round--accent(disable) Отмена

