.reviews
	.reviews__img
		img(src="assets/i/reviews.svg" alt="quote")

	.container
		.reviews__slider.slider#js-reviews-slider
			.slider__item
				p.slider__blockquote «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
				h3.slider__title Василий Петров
				p.slider__profession 25 лет, водитель трамвая

			.slider__item
				p.slider__blockquote «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
				h3.slider__title Николай Назаров
				p.slider__profession 25 лет, водитель трамвая

			.slider__item
				p.slider__blockquote «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
				h3.slider__title Николай Петров
				p.slider__profession 25 лет, водитель трамвая
