extends template

block title
	title Главная

block content
	.hidden
		//- include ../../../build/assets/i/svg/inline/sprite.svg

	.container-big
		.page-header
			.nav-menu#js-nav-menu
				.container
					.nav-menu__wrapper
						button.close-menu.nav-menu__close-menu#js-close-menu
							span
							span
						button.show-menu.nav-menu__show-menu#js-show-menu
							span
							span
							span
						.logo.nav-menu__logo
							picture
								source(media="(min-width: 1200px)", srcset="assets/i/logo-desktop.svg")
								source(media="(min-width: 660px)", srcset="assets/i/logo-tablet.svg")
								img(src="assets/i/logo-mobile.svg" alt="logo")
						block main-nav
							ul.nav-list#js-nav-list
								li.nav-list__item.nav-list__item--active
									a.nav-list__link() Главная
								li.nav-list__item
									a.nav-list__link(href="photo.html") Фотографии
								li.nav-list__item
									a.nav-list__link(href="#") Конкурс
								li.nav-list__item
									a.nav-list__link(href="#") HTML Academy
			//.nav-menu

			.page-header__center
				.page-header__content
					h1.page-header__title Взгляните на жизнь иначе!

					button.button-round Скачать приложение

					.page-header__logos
						img.apple(src="assets/i/apple.svg" alt="apple")
						img.android(src="assets/i/android.svg" alt="android")
						img.windows(src="assets/i/windows.svg" alt="windows")

					p.page-header__text
						|	Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8

				.page-header__image
					img(src="assets/i/hand.png", alt="")
		//.page-header

		include ../includes/offer
		include ../includes/reviews
		include ../includes/packages
		include ../includes/questions
		include ../includes/map


		include ../includes/footer

	include ../includes/ie-scripts
	include ../includes/scripts.pug
	script(src="assets/libs/slick/slick/slick.min.js")
	script(src="assets/js/main.min.js")

