extends template

block yandex-api
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_ru&apikey=*7494e3e7-008f-4e03-bd72-31a4650591f7" type="text/javascript")

block title
	title Главная

block content
	.container
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, ducimus quos adipisci voluptatum tempore eligendi magnam numquam maiores, id placeat unde suscipit! Et non, ratione voluptatibus vitae commodi quo cumque!
	.hidden

		//- include ../../../build/assets/i/svg/inline/sprite.svg

		include ../includes/footer

	include ../includes/ie-scripts
	include ../includes/scripts.pug
	script(src="assets/js/main.min.js")
	script(src="assets/js/yandex-map.js")

