.page-header
	position relative
	min-height 854px
	background url("../i/page-header-bg.jpg") no-repeat center
	@media screen and (max-width: xl) {
		min-height 729px
	}
	@media screen and (max-width: md) {
		min-height 472px
	}
